<!DOCTYPE html>
<html lang="en" class="govuk-template datagovuk-template">
 <head>
    <meta charset="utf-8">
    <title>{% block page_title_full %}{% block page_title %}{% endblock %} - data.gov.uk{% endblock %}</title>

    {% if page_description %}
      <meta name="description" content="{{page_description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#FFFFFF">

    {% compress css %}
      <link href="{{ static('stylesheets/govuk-frontend-6.0.0.min.css') }}" rel="stylesheet" />
      <link type="text/x-scss" href="{{ static('stylesheets/application.scss') }}" rel="stylesheet" />
    {% endcompress %}

    <link rel="icon" href="{{ static('images/favicon.png') }}" />

    {% if GOOGLE_TAG_MANAGER_ID %}
      {% set gtm_attributes = [] %}

      {% if GOOGLE_TAG_MANAGER_AUTH %}
        {% set gtm_attributes = gtm_attributes + ["gtm_auth=" ~ GOOGLE_TAG_MANAGER_AUTH] %}
      {% endif %}

      {% if GOOGLE_TAG_MANAGER_PREVIEW %}
        {% set gtm_attributes = gtm_attributes + ["gtm_preview=" ~ GOOGLE_TAG_MANAGER_PREVIEW ~ "&gtm_cookies_win=x"] %}
      {% endif %}

      {% set gtm_attributes_str = gtm_attributes | join('&') %}

      <script nonce="{{csp_nonce}}">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&{{ gtm_attributes_str | safe }}';f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_ID }}');
      </script>
    {% endif %}
  </head>

  <body class="govuk-template__body">
    <script nonce="{{csp_nonce}}">document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

    <div id="global-cookie-message" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="">
      <div class="govuk-cookie-banner datagovuk-cookie-banner js-banner-wrapper" role="region" aria-label="Cookies on data.gov.uk">
        <div class="govuk-cookie-banner__message govuk-width-container datagovuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m datagovuk-heading-m">Cookies on data.gov.uk</h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body datagovuk-body">
                  We use some essential cookies to make this website work. We’d like to set additional cookies to understand how you use data.gov.uk and improve the service.
              </div>

              <div class="govuk-button-group">
                <button class="govuk-button datagovuk-button gem-c-button" type="submit" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all">
                  Accept additional cookies
                </button>
                <button class="govuk-button datagovuk-button gem-c-button" type="submit" data-reject-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner rejected">
                  Reject additional cookies
                </button>
                <a class="govuk-body datagovuk-body govuk-link datagovuk-link" href="/cookies">View cookies</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gem-c-cookie-banner__confirmation govuk-width-container datagovuk-width-container" tabindex="-1" hidden="">
        <p class="gem-c-cookie-banner__confirmation-message govuk-body datagovuk-body govuk-!-margin-bottom-4" role="alert">
          You can <a class="govuk-link datagovuk-link" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation" href="/cookies">change your cookie settings</a> at any time.
        </p>
        <div class="govuk-button-group">
          <button class="govuk-button datagovuk-button" data-hide-cookie-banner="true" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide this message</button>
        </div>
      </div>
    </div>

    <a href="#main" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    {% include "includes/header.jinja" %}

    <main id="main" class="datagovuk-main">
      {% block main %}{% endblock %}
    </main>

    {% include "includes/footer.jinja" %}

    <script type="module" src="{{static("javascripts/govuk-frontend-6.0.0.min.js")}}"></script>
    {% compress js %}
      <script src="{{ static('javascripts/header.js') }}"></script>
      <script src="{{ static('javascripts/cookie-settings.js') }}"></script>
    {% endcompress %}
    <script type="module" nonce="{{csp_nonce}}">
      import { initAll } from "{{static("javascripts/govuk-frontend-6.0.0.min.js")}}"
      initAll()
    </script>
</body>
</html>
