.datagovuk-gridlist {
  list-style: none;
  padding: 0;
}

.datagovuk-gridlist {
  margin-left: 40px;
}

.datagovuk-gridlist__item {
  margin-bottom: 40px;
}

.datagovuk-gridlist__item--icon {
  position: relative;
}

.datagovuk-gridlist__item--icon::before {
  content: "";
  position: absolute;
  left: -35px; /* Move into the created margin */
  top: 3px;
  width: 26px;
  height: 26px;
  background-color: $datagovuk-green;
}

.datagovuk-gridlist__item--icon-user::before {
  -webkit-mask: url(static('images/icons/user.svg')) no-repeat center;
  mask: url(static('images/icons/user.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-database::before {
  -webkit-mask: url(static('images/icons/database.svg')) no-repeat center;
  mask: url(static('images/icons/database.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-document::before {
  -webkit-mask: url(static('images/icons/document.svg')) no-repeat center;
  mask: url(static('images/icons/document.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-padlock::before {
  -webkit-mask: url(static('images/icons/padlock.svg')) no-repeat center;
  mask: url(static('images/icons/padlock.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-shield::before {
  -webkit-mask: url(static('images/icons/shield.svg')) no-repeat center;
  mask: url(static('images/icons/shield.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-sharing::before {
  -webkit-mask: url(static('images/icons/sharing.svg')) no-repeat center;
  mask: url(static('images/icons/sharing.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-stars::before {
  -webkit-mask: url(static('images/icons/stars.svg')) no-repeat center;
  mask: url(static('images/icons/stars.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-open-book::before {
  -webkit-mask: url(static('images/icons/open_book.svg')) no-repeat center;
  mask: url(static('images/icons/open_book.svg')) no-repeat center;
}

.datagovuk-gridlist__item--icon-api::before {
  -webkit-mask: url(static('images/icons/api.svg')) no-repeat center;
  mask: url(static('images/icons/api.svg')) no-repeat center;
}

/* Desktop styling overrides */
@media (min-width: $desktop-breakpoint) {
  .datagovuk-gridlist {
    display: grid;
    grid-auto-flow: row;
    width: initial;
    list-style: none;
    padding: 0;
    align-items: flex-start;
    margin-left: 0;
    grid-template-columns: 1fr 1fr 1fr;

    .datagovuk-gridlist__item {
      margin: 0 40px;
      margin-bottom: 40px;
    }
  }
}
