.datagovuk-survey-notification-banner {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 30px 0;
  background-color: $datagovuk-yellow;
}

.datagovuk-notification-banner {
  margin: 0;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
}

.datagovuk-notification-banner--success {
  background-color: $datagovuk-light-green;
}

.datagovuk-notification-banner--error {
  background-color: $datagovuk-light-pink;
}

.datagovuk-notification-banner--success:focus,
.datagovuk-notification-banner--error:focus {
  border: 3px solid $datagovuk-black;
  outline: 3px solid $datagovuk-yellow;
}

.datagovuk-notification-banner--success,
.datagovuk-notification-banner--error {
  border: 3px solid transparent; // Fixes :focus repositioning other elements on page
  padding: 13px;
}

.datagovuk-notification-banner__content {
  display: flex;
  align-items: center;
}

.datagovuk-notification-banner__content .datagovuk-body {
  margin: 0;
}

.datagovuk-close {
  padding: 12px;
  margin-left: auto;
  flex: 0 0 auto;
}

.datagovuk-close__image {
  display: block;
  width: 20px;
  height: 20px;
}

.datagovuk-notification-banner__icon {
  display: block;
  padding: 12px;
  padding-left: 0;
}

.datagovuk-notification-banner--success .datagovuk-notification-banner__text.datagovuk-body {
  color: $datagovuk-dark-green;
}

.datagovuk-notification-banner__text {
  padding-left: 10px;
}

.datagovuk-notification-banner--error .datagovuk-notification-banner__text.datagovuk-body {
  color: $datagovuk-dark-pink;
}

/* Desktop styling overrides */
@media (min-width: $desktop-header-breakpoint) {
  .datagovuk-notification-banner__icon {
    padding: 15px;
  }

  .datagovuk-survey-notification-banner {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 0;
  }

  .datagovuk-notification-banner--success, .datagovuk-notification-banner--error {
    padding: 12px;
  }

  .datagovuk-survey-notification-banner .datagovuk-notification-banner__icon {
    padding-left: 0;
  }
}
