.datagovuk-success-notification-banner {
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px;
    background-color: $datagovuk-light-green;
    border-radius: 10px;
}

.datagovuk-notification-banner__content .datagovuk-body {
    color: $datagovuk-dark-green;
}

.datagovuk-error-notification-banner {
    background-color: $datagovuk-pink;
}

.datagovuk-notification-banner__text {
    padding-left: 10px;
}

.datagovuk-notification-banner__icon {
    display: block;
}

/* Desktop styling overrides */
@media (min-width: $desktop-header-breakpoint) {
    .datagovuk-notification-banner__icon {
        padding: 15px;
    }
}
