.datagovuk-survey-notification-banner {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 30px 0;
  background-color: $datagovuk-yellow;
}

.datagovuk-survey-notification-banner .datagovuk-notification-banner__icon,
.datagovuk-survey-notification-banner .datagovuk-close {
  padding-top: 5px;
}

/* Desktop styling overrides */
@media (min-width: $desktop-header-breakpoint) {
  .datagovuk-survey-notification-banner {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 0;
  }

  .datagovuk-survey-notification-banner .datagovuk-notification-banner__icon,
  .datagovuk-survey-notification-banner .datagovuk-close {
    padding: 15px;
  }

  .datagovuk-survey-notification-banner .datagovuk-notification-banner__icon {
    padding-left: 0;
  }
}
