.datagovuk-notification-banner {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px 0px;
    background-color: $datagovuk-yellow;
}

.datagovuk-notification-banner__content {
  display: flex;
  align-items: center;
}

.datagovuk-notification-banner__content .datagovuk-body {
   margin: 0;
}

.datagovuk-close {
    padding: 12px;
    margin-left: auto;
    flex: 0 0 auto;
}

.datagovuk-close__image {
  display: block;
  width: 20px;
  height: 20px;
}

.datagovuk-speech-bubble__image {
    display: block;
    padding: 12px;
}

/* Desktop styling overrides */
@media (min-width: $desktop-header-breakpoint) {
    .datagovuk-notification-banner {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
