{% extends "base.jinja" %}

{% set directory_heading_level = directory_heading_level|default("h1") %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}

{% set header_end %}
  <div class="govuk-width-container datagovuk-width-container datagovuk-directory-header__inner">
    <div class="datagovuk-directory-header__logo">
      {# djlint:off #}
      <{{ directory_heading_level }} class="govuk-!-margin-bottom-0 govuk-heading-m datagovuk-heading-m">
        <a class="datagovuk-directory-header__logo-link" href="{{ url('directory:search') }}">Directory</a>
      </{{ directory_heading_level }}>
      {# djlint:on #}
    </div>
    <a class="datagovuk-directory-header__link" href="{{ url('pages:publishers') }}">Publish your data</a>
    <a class="datagovuk-directory-header__link" href="https://guidance.data.gov.uk/publish_and_manage_data/">Documentation</a>
    <a class="datagovuk-directory-header__link" href="{{ url('pages:support') }}">Support</a>

    <button type="button"
            class="datagovuk-directory-header__button"
            id="datagovuk-directory-header-button-all"
            aria-controls="datagovuk-directory-menu">Menu</button>

    <div class="datagovuk-directory-menu">
      <div class="datagovuk-directory-menu__items">
        <a href="{{ url('pages:publishers') }}" class="govuk-link datagovuk-link datagovuk-menu__item-link">Publish your data</a>
        <a href="#" class="govuk-link datagovuk-link datagovuk-menu__item-link">Documentation</a>
        <a href="{{ url('pages:support') }}" class="govuk-link datagovuk-link datagovuk-menu__item-link">Support</a>
      </div>
    </div>
  </div>
{% endset %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container">
    <form method="get" action="{{ url('directory:search') }}">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="datagovuk-search-bar">
            {# djlint:off #}
            <div class="datagovuk-search-input-wrapper">
            {{ govukInput({
                "label": {
                "text": "Search directory",
                "classes":"govuk-visually-hidden"
                },
                "attributes":{
                    "placeholder":"Search directory",
                    "autocomplete":"off"
                },
                "name": "query",
                "value": form.query.value() if form else "",
                "errorMessage": {"html": form.query.errors} if form and form.query.errors else None,
                "formGroup": {"classes": "datagovuk-form-group"},
            }) }}
            </div>
            {{ govukButton({
                "html": "<span class=\"govuk-visually-hidden\">Search</span>",
                "classes": "datagovuk-button datagovuk-button--secondary"
            })}}
            </div>
        </div>
      </div>
      {% block search_main %}
      {% endblock %}
    </form>
  </div>
{% endblock main %}
