{% extends "base.jinja" %}

{% block page_title %}
  {{ datafile.name }}
{% endblock page_title %}

{% block main %}
  {% block content %}
    <div class="govuk-width-container datagovuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <a href="{{ back_link }}" class="govuk-back-link govuk-link datagovuk-link govuk-!-margin-bottom-4">Back to dataset</a>

          <h1 class="datagovuk-heading-xl govuk-heading-xl govuk-!-margin-bottom-4">{{ dataset.title }}</h1>

          <p class="govuk-body datagovuk-body govuk-!-margin-bottom-8">{{ datafile.name }}</p>

          {% if preview_exists %}
            <p class="govuk-body datagovuk-body govuk-!-margin-bottom-8">
              You're previewing the first {{ preview_rows }} rows of this file.
            </p>

            <a href="{{ datafile.url }}"
               class="govuk-button datagovuk-button govuk-!-margin-bottom-8"
               data-ga-event="preview-download"
               data-ga-format="CSV"
               data-ga-publisher="{{ dataset.organisation_name }}">Download CSV
              <img src="{{ static('images/download.svg') }}" alt="Download" />
            </a>
          {% else %}
            <p class="govuk-body datagovuk-body">Currently there is no preview available for "{{ datafile.name }}".</p>
          {% endif %}
        </div>

        {% if preview_exists %}
          <div class="govuk-grid-column-full govuk-!-margin-bottom-8">{% include "includes/table.jinja" %}</div>
        {% endif %}

        {% include "includes/feedback.jinja" %}
      </div>
    </div>
  {% endblock content %}
{% endblock main %}
