{% extends "base.jinja" %}

{% block page_title %}
  {{ datafile.name }}
{% endblock page_title %}

{% block main %}
  {% block content %}
    <div class="govuk-width-container datagovuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <a href="{{ back_link }}" class="govuk-back-link govuk-link datagovuk-link">Back to dataset</a>

          <h1 class="datagovuk-heading-xl govuk-heading-xl govuk-!-margin-bottom-8">
            {{ dataset.title }}
            <span class="datagovuk-body">{{ datafile.name }}</span>
          </h1>

          {% if preview_exists %}
            <p class="govuk-body datagovuk-body">You're previewing the first {{ preview_rows }} rows of this file.</p>

            <a href="{{ datafile.url }}" class="govuk-button datagovuk-button">Download the CSV</a>
          {% else %}
            <p class="govuk-body datagovuk-body">Currently there is no preview available for "{{ datafile.name }}".</p>
          {% endif %}
        </div>

        {% if preview_exists %}
          <div class="govuk-grid-column-full govuk-!-margin-bottom-8">{% include "includes/table.jinja" %}</div>
        {% endif %}
      </div>
    </div>
  {% endblock content %}
{% endblock main %}
