{% extends "base.jinja" %}

{% set page_title = "Components" %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container">
    <form method="get">
      <label for="query">Search:</label>
      <input type="text" id="query" name="q" placeholder="Type here..." />

      <button type="submit">Submit</button>
    </form>
    {% if results %}
      {{ results.hits }}
      {% for result in results %}<p>{{ result.title_ngram }}</p>{% endfor %}
    {% endif %}
  </div>
{% endblock main %}
