{% extends "base.jinja" %}

{% set page_title = "Search" %}
{% from "macros/forms.jinja" import datagovukInput, datagovukSelect -%}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container">
    <form method="get">
      {# djlint:off #}
      {{ datagovukInput({
        "label": {
          "text": form.query.label,
        },
        "name": form.query.name,
        "value": form.query.value() ,
        "errorMessage": {"html": form.query.errors} if form.query.errors else None,
      }) }}
      {{ datagovukSelect({
        "label": {
          "text": form.publisher.label,
        },
        "name": form.publisher.name,
        "value": form.publisher.value() ,
        "choices": form.publisher.field.choices,
        "errorMessage": {"html": form.publisher.errors} if form.publisher.errors else None,
      }) }}
      {# djlint:on #}
      {{ form.publisher }}
      {{ form.topic }}
      {{ form.format }}
      {{ form.open_government_licence_only }}
      <input type="submit" value="Submit" />
    </form>
    {% if results %}
      Hits: {{ results.hits }}
      {% for result in results %}
        <p>
          <a href="{{ url('directory:dataset', kwargs={'uuid': result.id, 'slug': result.name}) }}"
             class="govuk-link datagovuk-link">{{ result.title }}</a>
          <br />
          Publisher: {{ result.organization }}
          <br />
          Topic: {{ result["extras_theme-primary"]|default("Not set") }}

        </p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock main %}
