{% extends "base.jinja" %}

{% block page_title %}
  {{ title }} - National Data Library
{% endblock page_title %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">

    <h1 class="govuk-heading-xl datagovuk-heading-xl" style="max-width: 660px">
      Our plan for the National Data&nbsp;Library
    </h1>
    <div class="govuk-grid-row datagovuk-roadmap govuk-!-margin-bottom-8">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body datagovuk-body">
          We’re updating the National Data Library with new,
          <a class="govuk-link datagovuk-link datagovuk-link--secondary"
             href="{{ url('collections:collection', kwargs={'collection_name': 'business-and-economy'}) }}">curated collections</a>
          of data, and a
          <a class="govuk-link datagovuk-link datagovuk-link--secondary" href="{{ url('data_manual:home') }}">data manual</a>
          to support the data community.
        </p>
        <p class="govuk-body datagovuk-body">
          You can still search the
          <a class="govuk-link datagovuk-link datagovuk-link--secondary" href="/search">data directory</a>,
          which we're working on.
        </p>
      </div>

      <div class="govuk-grid-column-one-third">
        <img src="{{ static('images/plant-shoot.svg') }}"
             class="datagovuk-roadmap__image"
             alt="A young plant sprouting from the ground" />
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">{{ content|safe }}</div>
    </div>
  </div>
{% endblock main %}
