# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython
DJANGO_SETTINGS_MODULE=config.settings.local
GOOGLE_TAG_MANAGER_ID=
GOOGLE_TAG_MANAGER_AUTH=
GOOGLE_TAG_MANAGER_PREVIEW=
