# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython
DJANGO_SETTINGS_MODULE=config.settings.local
GOOGLE_TAG_MANAGER_ID=UA-XXXXX-Y
GOOGLE_TAG_MANAGER_AUTH=fake-auth-token
GOOGLE_TAG_MANAGER_PREVIEW=fake-preview-token
