<div class="datagovuk-error-notification-banner" role="region" aria-label="error notification banner">
  <div class="datagovuk-notification-banner__content">
    <img class="datagovuk-notification-banner__icon" src="{{ static('images/error.svg') }}" alt="" />
    <p class="govuk-body datagovuk-body datagovuk-notification-banner__text">Your message wasn't sent</p>
    <a class="datagovuk-close govuk-link datagovuk-link" href="#">
      <img class="datagovuk-close__image" src="{{ static('images/close_error.svg') }}" alt="Close error banner" />
    </a>
  </div>
</div>
