<div class="datagovuk-notification-banner datagovuk-success-notification-banner"
     role="region"
     aria-label="success notification banner"
     data-module="notification-banner-close"
     tabindex="-1">
  <div class="datagovuk-notification-banner__content">
    <img class="datagovuk-notification-banner__icon" src="{{ static('images/success.svg') }}" alt="" />
    <p class="govuk-body datagovuk-body datagovuk-notification-banner__text">{{ message.message }}</p>
    <a class="datagovuk-close govuk-link datagovuk-link" href="#" aria-label="Close success banner">
      <img class="datagovuk-close__image" src="{{ static('images/close_success.svg') }}" alt="" />
    </a>
  </div>
</div>
