<div class="datagovuk-notification-banner govuk-!-padding-top-6">
  <div class="govuk-width-container datagovuk-width-container">
    <div class="datagovuk-notification-banner__inner">
      <div class="datagovuk-notification-banner__content">
        <p class="govuk-body datagovuk-body">
          Help us improve the National Data Library -
          <a class="govuk-link datagovuk-link" href="https://surveys.publishing.service.gov.uk/s/2W0DN6/">complete this short survey</a>
        </p>
        <a class="datagovuk-close" href="#">
          <img class="datagovuk-close__image" src="{{ static('images/close.svg') }}" alt="Close survey banner" />
        </a>
      </div>
    </div>
  </div>
</div>
