.datagovuk-search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.datagovuk-search-bar .govuk-input {
  padding-left: 50px;
  border-width: 2px;
}

.datagovuk-search-bar .datagovuk-search-input-wrapper {
  position: relative;
  flex-grow: 1;
}

.datagovuk-search-bar .datagovuk-search-input-wrapper::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 14px;
  width: 26px;
  height: 26px;
  background-color: $datagovuk-grey;
  -webkit-mask: url(static('images/icons/search.svg')) no-repeat center;
  mask: url(static('images/icons/search.svg')) no-repeat center;
  pointer-events: none;
}

.datagovuk-search-bar .govuk-button {
  width: 52px;
  height: 52px;
}

.datagovuk-search-bar .govuk-button::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  width: 26px;
  height: 26px;
  background-color: $datagovuk-black;
  -webkit-mask: url(static('images/icons/search.svg')) no-repeat center;
  mask: url(static('images/icons/search.svg')) no-repeat center;
  pointer-events: none;
}

.datagovuk-search-bar .govuk-button::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  width: 26px;
  height: 26px;
  background-color: $datagovuk-black;
  -webkit-mask: url(static('images/icons/search.svg')) no-repeat center;
  mask: url(static('images/icons/search.svg')) no-repeat center;
  pointer-events: none;
}

.datagovuk-search__results-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 20px;
}

.datagovuk-search__results-count {
  flex-grow: 1;
  flex-shrink: 0;
  color: $datagovuk-grey;
}

.datagovuk-search__sort-by {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 0;
}

.datagovuk-search__sort-by label {
  flex-shrink: 0;
}

// fix for govuk-form-group causing a gap on the right
.datagovuk-search__sort-by::after {
  content: none;
}

.datagovuk-search-filters-heading {
  margin-top: 5px;
  margin-bottom: 40px;
}

.datagovuk-search-results {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}

.datagovuk-search-results__item {
  margin-bottom: 30px;
}

.datagovuk-search-results__item-row {
  display: flex;
  margin-bottom: 10px;
}

.datagovuk-search-results__item-label {
  width: 130px;
  flex-shrink: 0;
  position: relative;
}

/* Desktop styling overrides */
@media (min-width: $desktop-breakpoint) {
  .datagovuk-search-bar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .datagovuk-search-bar .datagovuk-form-group {
    display: flex;
    flex-grow: 1;
  }

  .datagovuk-search-bar .govuk-input {
    flex-grow: 1;
  }
}
