{% extends "base.jinja" %}

{% block page_title %}
  {{ catalogue.title }} - Catalogue - National Data Library
{% endblock page_title %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl datagovuk-heading-xl">{{ catalogue.title }}</h1>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Catalogue details</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">URL</th>
              <td class="govuk-table__cell" style="word-break: break-all">
                <a href="{{ catalogue.url }}" class="govuk-link datagovuk-link">{{ catalogue.url }}</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Catalogue type</th>
              <td class="govuk-table__cell">{{ catalogue.get_catalogue_type_display() }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Harvest frequency</th>
              <td class="govuk-table__cell">{{ catalogue.get_harvest_frequency_display() }}</td>
            </tr>
          </tbody>
        </table>
        <h2 class="govuk-heading-l datagovuk-heading-l">Latest harvest</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--grey">Queued</strong>
              <strong class="govuk-tag govuk-tag--yellow">Harvesting</strong>
              <strong class="govuk-tag govuk-tag--green">Completed</strong>
              <strong class="govuk-tag govuk-tag--red">Failed</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Started</dt>
            <dd class="govuk-summary-list__value">
              A few seconds ago
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Datasets</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 catalogued</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 validated</a>
              </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Resources</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">10 catalogued</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">8 validated</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 marked broken</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">9 marked orphaned</a>
              </p>
            </dd>
          </div>
        </dl>
        <a href="#" class="govuk-link datagovuk-link">View the full harvest log</a>
      </div>
    </div>
  </div>
{% endblock main %}
