{% extends "base.jinja" %}

{% block page_title %}
  {{ catalogue.title }} - Catalogue - National Data Library
{% endblock page_title %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop govuk-body datagovuk-body">
        <h1 class="govuk-heading-xl datagovuk-heading-xl">{{ catalogue.title }}</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">URL</dt>
            <dd class="govuk-summary-list__value">
              <a href="{{ catalogue.url }}" class="govuk-link datagovuk-link">{{ catalogue.url }}</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">
              {{ catalogue.get_catalogue_type_display() }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Frequency</dt>
            <dd class="govuk-summary-list__value">
              {{ catalogue.get_harvest_frequency_display() }}
            </dd>
          </div>
          {#
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">! Problems</dt>
            <dd class="govuk-summary-list__value">
              <p>
                <a href="#" class="govuk-link">10 broken links</a>
              </p>
              <p>
                <a href="#" class="govuk-link">Schema is broken</a>
              </p>
            </dd>
          </div>
          #}
        </dl>

        {% set latest_harvest_run = catalogue.latest_harvest_run %}
        {% if latest_harvest_run %}
          {% set event_counts = latest_harvest_run.run_event_counts %}
          <h2 class="govuk-heading-l datagovuk-heading-l">Latest harvest</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Status</dt>
              <dd class="govuk-summary-list__value">
                {% if latest_harvest_run.status == "QUEUED" %}
                  <strong class="govuk-tag govuk-tag--grey">Queued</strong>
                {% elif latest_harvest_run.status == "HARVESTING" %}
                  <strong class="govuk-tag govuk-tag--yellow">Harvesting</strong>
                {% elif latest_harvest_run.status == "SUCCEEDED" %}
                  <strong class="govuk-tag govuk-tag--green">Succeeded</strong>
                {% elif latest_harvest_run.status == "FAILED" %}
                  <strong class="govuk-tag govuk-tag--red">Failed</strong>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Started</dt>
              <dd class="govuk-summary-list__value">
                {{ latest_harvest_run.started_at|naturaltime }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Ended</dt>
              <dd class="govuk-summary-list__value">
                {{ latest_harvest_run.ended_at|naturaltime }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Listings</dt>
              <dd class="govuk-summary-list__value">
                {% if event_counts["LISTING_CATALOGUED"] %}
                  <p class="govuk-body">
                    <a href="{{ url('publishing:harvest_run_events', kwargs={'harvest_run_id': latest_harvest_run.id}) }}?verb=LISTING_CATALOGUED"
                       class="govuk-link datagovuk-link">{{ event_counts["LISTING_CATALOGUED"] }} catalogued</a>
                  </p>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Links</dt>
              <dd class="govuk-summary-list__value">
                {% if event_counts["LINK_CATALOGUED"] %}
                  <p class="govuk-body">
                    <a href="{{ url('publishing:harvest_run_events', kwargs={'harvest_run_id': latest_harvest_run.id}) }}?verb=LINK_CATALOGUED"
                       class="govuk-link datagovuk-link">{{ event_counts["LINK_CATALOGUED"] }} catalogued</a>
                  </p>
                {% endif %}
                {% if event_counts["LINK_VALIDATED"] %}
                  <p class="govuk-body">
                    <a href="{{ url('publishing:harvest_run_events', kwargs={'harvest_run_id': latest_harvest_run.id}) }}?verb=LINK_VALIDATED"
                       class="govuk-link datagovuk-link">{{ event_counts["LINK_VALIDATED"] }} validated</a>
                  </p>
                {% endif %}
                {% if event_counts["LINK_INVALIDATED"] %}
                  <p class="govuk-body">
                    <a href="{{ url('publishing:harvest_run_events', kwargs={'harvest_run_id': latest_harvest_run.id}) }}?verb=LINK_INVALIDATED"
                       class="govuk-link datagovuk-link">{{ event_counts["LINK_INVALIDATED"] }} marked broken</a>
                  </p>
                {% endif %}
              </dd>
            </div>
          </dl>
          <a href="{{ url('publishing:harvest_run_events', kwargs={'harvest_run_id': latest_harvest_run.id}) }}"
             class="govuk-link datagovuk-link">View the full harvest log</a>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock main %}
