{% extends "base.jinja" %}

{% block page_title %}
  {{ catalogue.title }} - Catalogue - National Data Library
{% endblock page_title %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop govuk-body datagovuk-body">
        <h1 class="govuk-heading-xl datagovuk-heading-xl">{{ catalogue.title }}</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">URL</dt>
            <dd class="govuk-summary-list__value">
              <a href="{{ catalogue.url }}" class="govuk-link datagovuk-link">{{ catalogue.url }}</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">
              {{ catalogue.get_catalogue_type_display() }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Frequency</dt>
            <dd class="govuk-summary-list__value">
              {{ catalogue.get_harvest_frequency_display() }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">! Problems</dt>
            <dd class="govuk-summary-list__value">
              <p>
                <a href="#" class="govuk-link">10 broken links</a>
              </p>
              <p>
                <a href="#" class="govuk-link">Schema is broken</a>
              </p>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l datagovuk-heading-l">Latest harvest</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--grey">Queued</strong>
              <strong class="govuk-tag govuk-tag--yellow">Harvesting</strong>
              <strong class="govuk-tag govuk-tag--green">Completed</strong>
              <strong class="govuk-tag govuk-tag--red">Failed</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Started</dt>
            <dd class="govuk-summary-list__value">
              A few seconds ago
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Listings</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 catalogued</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 validated</a>
              </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Links</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">10 catalogued</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">8 validated</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">2 marked broken</a>
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link datagovuk-link">9 marked orphaned</a>
              </p>
            </dd>
          </div>
        </dl>
        <a href="#" class="govuk-link datagovuk-link">View the full harvest log</a>
      </div>
    </div>
  </div>
{% endblock main %}
