{% extends "base.jinja" %}

{% block page_title %}
  Publishing - National Data Library
{% endblock page_title %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl datagovuk-heading-xl">{{ publisher.name }}</h1>

        <h2 class="govuk-heading-l datagovuk-heading-l">Catalogues</h2>
        {% for catalogue in catalogues %}
          <p class="govuk-body datagovuk-body">
            <a class="govuk-link datagovuk-link" href="{{ url('publishing:catalogue_detail', kwargs={'slug': catalogue.slug}) }}">
              {{ catalogue.title }}
            </a>
          </p>
        {% endfor %}
        <a href="{{ url('publishing:add_catalogue') }}" role="button" class="govuk-button datagovuk-button">
          Add harvest source
        </a>
      </div>
    </div>
  </div>
{% endblock main %}
