<table class="govuk-table">
  {%- if table_headings %}
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {%- for cell in table_headings %}
          <th scope="col" class="govuk-table__header{% if cell.format == 'numeric' %} govuk-table__header--numeric{% endif %}">
            {{- cell.text -}}
          </th>
        {%- endfor %}
      </tr>
    </thead>
  {%- endif %}
  <tbody class="govuk-table__body">
    {%- for row in table_rows %}
      <tr class="govuk-table__row">
        {%- for cell in row %}
          <td class="govuk-table__cell{% if cell.format == 'numeric' %} govuk-table__cell--numeric{% endif %}">
            {{- cell.text -}}
          </td>
        {%- endfor %}
      </tr>
    {%- endfor %}
  </tbody>
</table>
