{% extends "base.jinja" %}

{% block main %}
  <header class="datagovuk-data-manual-hero">
    {% if home_page %}
      <h1 class="govuk-heading-xl datagovuk-heading-xl govuk-!-margin-bottom-4 datagovuk-data-manual-hero__header">
        Data manual
      </h1>
    {% else %}
      <h2 class="govuk-heading-xl datagovuk-heading-xl govuk-!-margin-bottom-4 datagovuk-data-manual-hero__header">
        Data manual
      </h2>
    {% endif %}
    <p class="govuk-body datagovuk-body">A guide to working with data in government and the public sector</p>
  </header>

  {% block content %}
  {% endblock content %}

{% endblock main %}
