{% extends "base.jinja" %}

{% from "macros/common.jinja" import cta_button, link_list, section_navigation %}

{% set page_title = collection ~ " - Collection" %}

{% block main %}
  <div class="govuk-width-container datagovuk-width-container datagovuk-collection-header">
    <img src="{{ static('images/collections/badge-' ~ collection_slug ~ '.png') }}"
         class="datagovuk-collection-header__image"
         alt="" />

    <p class="govuk-body datagovuk-body datagovuk-body-uppercase">Collection</p>

    <h2 class="datagovuk-collection-name govuk-heading-xl datagovuk-heading-xl">{{ collection }}</h2>
    <div class="datagovuk-collection-header__underline"></div>
  </div>

  <div class="govuk-width-container datagovuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">{{ section_navigation(collection_pages) }}</div>

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l datagovuk-heading-l">{{ title }}</h1>

        <section class="govuk-section datagovuk-section">
          {{ content|safe }}
        </section>

        <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
          {# TODO: charts here #}
        </section>

        {% with dataset=true %}
          {% include "includes/feedback.jinja" %}
        {% endwith %}

        <section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
          <section class="datagovuk-section">
            <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
            {% if websites %}
              {% if websites|length == 1 %}
                {{ cta_button(websites[0].url, websites[0].link_text) }}
              {% elif websites|length > 1 %}
                {{ link_list(websites) }}
              {% endif %}
            {% endif %}

            {% if api and not websites and not dataset %}
              {{ cta_button(api.url, api.link_text) }}
            {% elif api or dataset %}
              {{ link_list([api, dataset]) }}
            {% endif %}
          </section>
          <section class="datagovuk-section">
            <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
              The page was last updated {{ page_last_updated|date("j/n/Y") }}
            </p>
          </section>
        </section>

        <nav class="datagovuk-collection-pagination">
          {% if previous_page %}
            <a class="datagovuk-collection-pagination__card" href="{{ previous_page.url }}">
              <div class="datagovuk-collection-pagination__card-inner">
                <img src="{{ static('images/icons/arrow.svg') }}"
                     class="datagovuk-collection-pagination__arrow datagovuk-collection-pagination__arrow--previous"
                     alt="" />
                <p class="govuk-body datagovuk-body">{{ previous_page.title }}</p>
              </div>
            </a>
          {% endif %}

          {% if next_page %}
            <a class="datagovuk-collection-pagination__card" href="{{ next_page.url }}">
              <div class="datagovuk-collection-pagination__card-inner">
                <img src="{{ static('images/icons/arrow.svg') }}"
                     class="datagovuk-collection-pagination__arrow datagovuk-collection-pagination__arrow--next"
                     alt="" />
                <p class="govuk-body datagovuk-body">{{ next_page.title }}</p>
              </div>
            </a>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
{% endblock main %}
